# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
JITtrees

# Local project files
.vs
Debug
Release
input
images
*.sln
*.vcxproj*
*.vscode

# Build files
build
dist
*.py[cod]
*.egg-info/

# Python
__pycache__
.ipynb_checkpoints/

# OS X
.DS_Store

# CMake files
cmake/

# CatBoost metafiles
catboost_info/

# Extra datasets
datasets/

# Tuning results
tuning/

